<form class="form-horizontal" novalidate name="registerForm">
    <div class="form-group">
        <label class="control-label col-xs-2">First Name</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="First Name" name="firstName" ng-model="user.firstname" ng-required="true" ng-minlength="3" ng-maxlength="20"
                   ng-pattern ="/^[a-zA-Z\s]+$/" />
            <div ng-if="registerForm.firstName.$dirty && isSubmitted">
                <p ng-if="registerForm.firstName.$error.required"> First Name required </p>
                <p ng-if="registerForm.firstName.$error.minlength"> First Name minimum length is 3 </p>
                 <p ng-if="registerForm.firstName.$error.maxlength"> First Name maximum length is 20 </p>
                <p ng-if="registerForm.firstName.$error.pattern"> First Name  should contain only alphabets </p>
            </div>
        </div>
    </div>




    <div class="form-group">
        <label class="control-label col-xs-2">Last Name</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Last Name" ng-model="user.lastname">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">Age</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Age" ng-model="user.age">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-2">Gender</label>
        <div class="col-xs-4">
            <input type="radio" value="M" ng-model="user.gender" name="gender">Male
            <input type="radio" value="F" ng-model="user.gender" name="gender">Female
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">PhoneNumber</label>
        <div class="col-xs-4">
            <input type="text" placeholder="Phone Number" class="form-control" ng-model="user.phone" custom-numbers-only customlength="10">

        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-xs-2">State</label>
        <div class="col-xs-4">
            <select class="form-control" ng-model="user.state" ng-options="data.name for data in states">
                <option value="">Please Select</option>
            </select>

        </div>
    </div>
    <div class="form-group">

        <div class="col-xs-offset-2 col-xs-4">
            <input type="checkbox" ng-model="user.agree">I agree Terms
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-4">
            <button ng-click="isSubmitted='true'" class="btn btn-primary">Register</button>
        </div>
    </div>
    {{user}}
    </div>
